
<!--

  Actions panel

  Contains avatar for account switching
  Contains search and new tab


-->
<template name="actions">

  <div id="actions" class="panel ">
    <div class="panel__item one-whole floating">
      <div class="floating__item one-quarter">

        <div class="ratio--landscape background--light-secondary">
          <div class="ratio__item">
            <div class="panel">
              <a href="/calendar" class="panel__item--left one-third floating background--light">
                <div class="floating__item">

                  <span class="fa fa-calendar-o text-dark"></span>

                </div>

              </div>
              <div class="panel__item--right two-thirds">

                <div class="panel">
                  <a href="/new" class="panel__item--left one-half floating">
                    <div class="floating__item">
                      <span class="fa fa-plus text-dark"></span>
                    </div>
                  </a>
                  <a href="/search" class="panel__item--right one-half floating background--light">
                    <div class="floating__item">

                        <span class="fa fa-search text-dark"></span>

                    </div>
                  </a>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="locked-top locked-right push-half-top push-half-right">
      <div class="round soft-double background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/clarisa.jpg)">
      </div>

    </div>
  </div>

</template>
