<template name="calendar">
  <div id="calendar" class="panel overlay--solid-dark" style="z-index: 99;">
    <div class="overlay__item panel__item one-whole">
      <div class="locked-top locked-bottom locked-right two-thirds" data-close="true"></div>
      <div id="calendar-panel" class="locked-top locked-bottom locked-left one-third background--light">
        <div class="panel">
          <div class="panel__item--left one-quarter background--light-secondary scrollable">
            {{#each days}}
            <div data-day="{{unix}}" class="soft one-whole text-center">
              <h2 class="flush {{#if selected}}text-primary{{else}}text-dark-secondary{{/if}}">{{day}}</h2>
              <h5 class="flush"><small>{{month}}</small></h5>
            </div>
            {{/each}}

          </div>

          <div class="panel__item--right three-quarters scrollable">
            <div class="one-whole text-left soft outlined--bottom outlined--light">
              <h4 class="flush">
                <small>
                  September
                </small>
              </h4>
            </div>

            <div class="soft-half-ends one-whole outlined--bottom outlined--light soft-left">
              <h5 class="uppercase flush">
                <small>
                  September 8
                </small>
              </h5>
            </div>

            <div class="soft one-whole outlined--bottom outlined--light">
              <h5>
                <small>
                  Status: <span class="text-primary">On-Time</span>
                </small>
              </h5>
              <h4>
                The Landmark Project Deliver
              </h4>


            </div>

            <div class="soft one-whole outlined--bottom outlined--light">
              <h5>
                <small>
                  Status: <span class="text-primary">On-Time</span>
                </small>
              </h5>
              <h4>
                NewSpring 15th anniversary print
              </h4>


            </div>



            <div class="soft-half-ends one-whole outlined--bottom outlined--light soft-left">
              <h5 class="uppercase flush">
                <small>
                  September 9
                </small>
              </h5>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
