<!--

  Details panel

-->
<template name="product">
  {{#modal}}
    <div class="panel">

      <div class="panel__item--left one-twelfth background--light-secondary">
        <a href="/project/{{client}}/{{projectIdString}}/information" class="display-block soft soft-double-ends one-whole outlined--bottom outlined--light">
          <span class="fa fa-info {{#if isActive '/project/{{client}}/{{projectIdString}}/information/'}}text-primary{{else}}text-dark{{/if}}"></span>
        </a>

        <a href="/project/{{client}}/{{projectIdString}}/quote" class="display-block soft soft-double-ends one-whole outlined--bottom outlined--light">
          <span class="fa fa-dollar {{#if isActive '/project/{{client}}/{{projectIdString}}/quote/'}}text-primary{{else}}text-dark{{/if}}"></span>
        </a>

        <a href="/project/{{client}}/{{projectIdString}}/client" class="display-block soft soft-double-ends one-whole outlined--bottom outlined--light">
          <span class="fa fa-user {{#if isActive '/project/{{client}}/{{projectIdString}}/client/'}}text-primary{{else}}text-dark{{/if}}"></span>
        </a>

        <a href="/project/{{client}}/{{projectIdString}}/tasks" class="display-block soft soft-double-ends one-whole outlined--bottom outlined--light">
          <span class="fa fa-list {{#if isActive '/project/{{client}}/{{projectIdString}}/tasks/'}}text-primary{{else}}text-dark{{/if}}"></span>
        </a>

        <a href="/project/{{client}}/{{projectIdString}}/event" class="display-block soft soft-double-ends one-whole outlined--bottom outlined--light">
          <span class="fa fa-calendar-o {{#if isActive '/project/{{client}}/{{projectIdString}}/event/'}}text-primary{{else}}text-dark{{/if}}"></span>
        </a>

        <a href="/project/{{client}}/{{projectIdString}}/reminder" class="display-block soft soft-double-ends one-whole outlined--bottom outlined--light">
          <span class="fa fa-bookmark {{#if isActive '/project/{{client}}/{{projectIdString}}/reminder/'}}text-primary{{else}}text-dark{{/if}}"></span>
        </a>
      </div>

        <div class="panel__item--right eleven-twelfths background--light">
          {{> Template.dynamic template=type.get data=data}}
        </div>

      </div>


    </div>
  {{/modal}}
</template>
