<!--

  Details panel

-->
<template name="product">
  {{#modal}}
    <div class="panel">

      <div class="panel__item--left one-tenth background--light-secondary">
        <a href="/project/information" class="display-block soft-double one-whole outlined--bottom outlined--light">
          <span class="fa fa-info text-dark"></span>
        </a>

        <a href="/project/quote" class="display-block soft-double one-whole outlined--bottom outlined--light">
          <span class="fa fa-dollar text-dark"></span>
        </a>

        <a href="/project/tasks" class="display-block soft-double one-whole outlined--bottom outlined--light">
          <span class="fa fa-list text-dark"></span>
        </a>

        <a href="/project/client" class="display-block soft-double one-whole outlined--bottom outlined--light">
          <span class="fa fa-user text-dark"></span>
        </a>

        <a href="/project/event" class="display-block soft-double one-whole outlined--bottom outlined--light">
          <span class="fa fa-calendar-o text-dark"></span>
        </a>

        <a href="/project/reminder" class="display-block soft-double one-whole outlined--bottom outlined--light">
          <span class="fa fa-bookmark text-dark"></span>
        </a>
      </div>

      <div class="panel__item--right nine-tenths background--light">
        <div class="panel">
          <div class="panel__item--left two-thirds">
            <div class="grid">
              <div class="grid__item one-half">

                <div class="soft-ends">
                  <div class="ratio--fat-rectangle background--fill" style="background-image:url(//d13yacurqjgara.cloudfront.net/users/79723/screenshots/2238442/untitled-2.jpg)">
                    <div class="ratio__item">

                    </div>
                  </div>
                </div>

              </div>
              <div class="grid__item one-whole">
                <div class="soft-sides">
                  <hr class="outlined--light">
                </div>

              </div>

              <div class="grid__item one-whole text-left">
                <div class="soft">

                  <h4 class="push-bottom">
                    The Landmark Project
                  </h4>


                  <h4 class="text-dark-secondary"><small>The National Parks Service</small></h4>
                  <h5 class="text-dark-secondary">888-867-5309</h5>
                  <h5 class="text-dark-secondary">client@example.com</h5>

                </div>
              </div>
            </div>




          </div>
            <div class="panel__item--right one-third background--light-secondary scrollable">

              <div class="soft hard-bottom text-left">
                <div class="grid">
                  <div class="grid__item one-fifth">
                    <div class="ratio--square">
                      <div class="ratio__item round background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/matt.jpg)">
                      </div>
                    </div>
                  </div>
                  <div class="grid__item four-fifths">
                    <p>
                      <small>
                        Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                      </small>
                    </p>
                  </div>

                </div>
              </div>

              <div class="soft hard-bottom text-left background--light-tertiary">
                <div class="grid">
                  <div class="grid__item one-fifth">
                    <div class="ratio--square">
                      <div class="ratio__item round background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/jen.jpg)">
                      </div>
                    </div>
                  </div>
                  <div class="grid__item four-fifths">
                    <p>
                      <small>
                        Etiam porta sem malesuada magna mollis euismod.
                      </small>
                    </p>
                  </div>

                </div>
              </div>

              <div class="soft hard-bottom text-left">
                <div class="grid">
                  <div class="grid__item one-fifth">
                    <div class="ratio--square">
                      <div class="ratio__item round background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/tj.jpg)">
                      </div>
                    </div>
                  </div>
                  <div class="grid__item four-fifths">
                    <p>
                      <small>
                        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                      </small>
                    </p>
                  </div>

                </div>
              </div>

              <div class="soft hard-bottom text-left background--light-tertiary">
                <div class="grid">
                  <div class="grid__item one-fifth">
                    <div class="ratio--square">
                      <div class="ratio__item round background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/matt.jpg)">
                      </div>
                    </div>
                  </div>
                  <div class="grid__item four-fifths">
                    <p>
                      <small>
                        Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna.
                      </small>
                    </p>
                  </div>

                </div>
              </div>

              <div class="soft hard-bottom text-left">
                <div class="grid">
                  <div class="grid__item one-fifth">
                    <div class="ratio--square">
                      <div class="ratio__item round background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/jen.jpg)">
                      </div>
                    </div>
                  </div>
                  <div class="grid__item four-fifths">
                    <p>
                      <small>
                        Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                      </small>
                    </p>
                  </div>

                </div>
              </div>

              <div class="soft background--dark-tertiary">
                <div class="fa fa-plus text-white"></div>
              </div>


            </div>
          </div>
        </div>

      </div>


    </div>
  {{/modal}}
</template>
