
<!--

  Search Panel

-->

<template name="search">
  {{#modal}}
    <div class="panel background--light">
      <div class="grid one-whole">
        <div class="grid__item one-half">
          <div class="soft soft-double-top">
            {{> Apollos.Forms.Input
              name="Search"
            }}
          </div>
        </div>

      </div>
      <div class="grid">
        <div class="grid__item one-third">

        </div>
        <div class="grid__item two-thirds">

        </div>
      </div>

    </div>
  {{/modal}}
</template>
