<template name="userPanel">


  <div class="
    {{#if active.get}}
    panel
    {{else}}
    locked-top locked-right
    {{/if}}" style="z-index: 11">
    {{#if active.get}}
      <div data-user-panel="true" class="panel__item--right one-third constrain-iphone background--light" style="z-index: 99">
        <div class="grid outlined--bottom outlined--light">
          <div class="grid__item three-quarters">
            <div class="soft">
              <h2 class="flush">Clarisa Gonzalez</h2>
            </div>

          </div>
          <div class="grid__item one-quarter"></div>

        </div>
        <div class="one-whole outlined--bottom outlined--light soft-half-ends background--light-secondary soft-sides text-left">
          <h5 class="flush"><small class="text-dark-tertiary">Projects</small></h5>
        </div>

        <div class="soft one-whole">
          <h5>
            <small>
              Status: <span class="text-alert">Behind Schedule</span>
            </small>
          </h5>
          <h4>
            The Landmark Project Deliver
          </h4>


        </div>

        <div class="one-whole outlined--bottom outlined--light soft-half-ends soft-sides text-center">
          <h5 class="flush"><small class="text-dark-tertiary">Show More</small></h5>
        </div>

        <div class="one-whole outlined--bottom outlined--light soft-half-ends background--light-secondary soft-sides text-left">
          <h5 class="flush"><small class="text-dark-tertiary">Converstaions</small></h5>
        </div>

        <div class="soft one-whole">

          <div class="grid text-left">
            <div class="grid__item one-fifth">
              <div class="ratio--square">
                <div class="ratio__item round background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/matt.jpg)">
                </div>
              </div>
            </div>
            <div class="grid__item four-fifths">
              <p class="flush">
                <small>
                  Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna.
                </small>
              </p>
            </div>

          </div>

        </div>

        <div class="one-whole outlined--bottom outlined--light soft-half-ends soft-sides text-center">
          <h5 class="flush"><small class="text-dark-tertiary">Show More</small></h5>
        </div>





        <div class="locked-bottom locked-left locked-right text-center background--light-tertiary">
          <div class="grid flush">
            <div class="hard  grid__item one-half">
              <div class="soft">
                <span class="fa fa-users text-dark-secondary"></span>
              </div>

            </div>
            <div data-user="true" class="hard  grid__item one-half">
              <div class="soft">
                <span class="fa fa-arrow-right text-dark-secondary"></span>
              </div>

            </div>
          </div>


        </div>

      </div>
      <div data-close="true" class="panel__item--left one-whole overlay--solid-dark" style="z-index: 98">
        <div class="overlay__item"></div>
      </div>
    {{/if}}
    <div class="locked-top locked-right push-half-top push-half-right" style="z-index: 100;">
      <div data-user="true" class="round soft-double background--fill" style="background-image:url(//s3.amazonaws.com/images.dapperink/dapper/site/images/clarisa.jpg)">
        <div class="round locked-middle push-back-top locked-left push-back-left">
          <div class="soft round background--alert">
            <div class="panel">
              <div class="panel__item one-whole text-center">
                <h5 class="text-white flush soft-half-top">2</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</template>
