
<template name="modifier">


    {{#with modifier}}

      {{#if $eq type "select"}}


        {{#if active}}
          {{> Apollos.Forms.Select
            name=name
            items=modifiers
            includeBlank=true
            placeholder=placeholderText
            label=placeholderText
            prefill=false
            selectClass='h4'
            class='hard push-half-ends'
            optionClass="lowercase"
          }}
        {{else}}
        <div class="select-disabled text-center">
          <span class="btn btn--gray">{{placeholderText}}</span>
        </div>
        {{/if}}


      {{/if}}

    {{/with}}

</template>
