<template name="quote">
  {{#if subscriptionsReady}}
  {{#Apollos.Forms.Form name='quote' class="panel"}}

    <div class="panel__item--left two-fifths floating">
      <div class="floating__item three-quarters">
        {{#if price.get}}
          <h4>Estimated Price per Item:</h4>
          <h2 class="flush">${{price.get}}</h2>

        {{else}}

          {{#if message.get}}

            <h4 class="flush">
              {{message.get}}
            </h4>
          {{else}}
            <h4 > Estimated Price per Item:</h4>
            <h2 class="flush">$0</h2>
          {{/if}}

        {{/if}}

      </div>
    </div>
  </div>

  <div class="panel__item--right three-fifths floating background--light-tertiary">
    <div class="floating__item three-quarters">

      <div id="information">
        <div class="grid">
          <div class="grid__item one-half">
            {{> Apollos.Forms.Input
              name="First Name"
              class="soft-half-bottom"
              inputClass='h4'
            }}
          </div>
          <div class="grid__item one-half">
            {{> Apollos.Forms.Input
              name="Last Name"
              class="soft-half-bottom"
              inputClass='h4'
            }}
          </div>
        </div>
      </div>
      <div id="services">

        {{> Apollos.Forms.Select
          name="services"
          items=services
          placeholder="Choose Service"
          includeBlank=true
          label="Choose Service"
          prefill=false
          class='push-half-ends hard'
          selectClass='h4'
          optionClass="lowercase"
          id="services"
        }}
      </div>

      {{#if products}}
      <div id="products">

        {{> Apollos.Forms.Select
          name=name
          items=products
          placeholder=placeholderText
          includeBlank=true
          label=placeholderText
          prefill=false
          class='push-half-ends hard'
          selectClass='h4'
          optionClass="lowercase"
          id="products"
        }}

      </div>
      {{/if}}

      <div id="modifier">
        {{> productModifier name=productName.get}}
      </div>

      <div id="submit">
        {{> submit submitted=true ready=ready.get}}
      </div>



    </div>

  </div>
  {{/Apollos.Forms.Form}}
  {{/if}}

</template>
