
.input:not(.input--active) > label {
  top: 10px;
  left: 5px;

  text-transform: uppercase;

  font-size: 1.15em;
  font-weight: 600;
}

.input:not(.input--active) > label,
input,
select {
  text-transform: none!important;

  font-weight: 500!important;
}

.input--active > label {
  top: 0;
  // margin-bottom: 5px;
  left: 5px;
}
