.panel
  section.panel__item.scrollable.one-whole
    .floating
      .floating__item
        h1 Hello, NewSpring
        img(src="https://s3.amazonaws.com/uploads.hipchat.com/21097/1894791/hTMA18WVU7iZQvM/newspring-logo.png", width="100px")
