
<template name="projectCard">
  <a href="/project/{{client}}/{{name}}" class="ratio--fat-rectangle background--light-secondary">
    <div class="ratio__item background--fill" style="background-image:url({{image}})">

      <div class="locked-ends locked-sides floating--bottom overlay--solid-dark-secondary">
        <div class="floating__item one-whole overlay__item text-left">
          <div class="soft-half">
            <h5 class="text-light flush uppercase"><small>{{client}}</small></h5>
            <h4 class="text-light flush">
              {{name}}
            </h4>
          </div>


          {{!--
          <h5 class="text-light">888-867-5309</h5>
          <h5 class="text-light flush">client@example.com</h5>
          --}}

        </div>

      </div>
      <div class="locked-top locked-left push-half overlay__item">
        <div class="round soft {{status}}"></div>
      </div>

    </div>

  </a>
</template>
