
<template name="projectCard">
  <div class="ratio--fat-rectangle background--light-secondary">
    <div class="ratio__item background--fill" style="background-image:url({{image}})">

      <div class="locked-ends locked-sides floating overlay--solid-dark-secondary">
        <div class="floating__item overlay__item text-left">
          <h4 class="push-bottom text-light">
            The Landmark Project
          </h4>

          <h4 class="text-light"><small>The National Parks Service</small></h4>
          <h5 class="text-light">888-867-5309</h5>
          <h5 class="text-light flush">client@example.com</h5>

        </div>
      </div>

    </div>
  </div>
</template>
