<template name="modal">

  <div class="panel overlay--solid-dark" style="z-index:999;">

    <div class="panel__item one-whole overlay__item floating">
      <div class="floating__item eleven-twelfths constrain-ipad-mini">
        <div class="ratio--fat-rectangle">

          <div class="ratio__item">
            {{> Template.contentBlock}}
            <div data-close="true" class="round locked-right soft-half push-back-top push-back-right locked-middle push-back-top background--alert">
              <span class="text-white icon fa fa-times"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="one-whole panel" data-close="true"></div>
    </div>
  </div>

</template>
